.container {
    width: 414px;
    height: 800px;
    margin: auto;
    padding: 0;
    margin-top: 20px;
    border-radius: 12px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.233);
}

.container:before {
    content: '';
    background-image: url(../src/assets/wp4763952-aesthetic-sky-wallpapers.jpg);
    border-radius: 12px;
    position: absolute;
    width: 414px;
    height: 800px;
    top: 0;
    left: 0;
    z-index: -1;
}

.searchBar {
    display: flex;
    justify-content: center;
    gap: 14px; 
    padding-top: 90px;
}

.searchBar input {
    display: flex;
    width: 50%;
    height: 30px;
    border-radius: 20px;
    border: none;
    outline: none;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    background: #8d5473;
    border-radius: 12px;
    cursor: pointer;
}

.weather-image {
    margin-top: 90px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.weather-temp {
    margin-top: 15px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    font-size: 85px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.weather-location {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.data-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
}

.element {
    margin: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.data {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

.text {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
