body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header {
    text-align: center;
    color: #107777;
}
main {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
h1 {
    font-size: 45px;
}
#sottotitolo {
    font-size: 22px;
}
#focaccia {
    width: 100%;
    border-radius: 12px;
    box-shadow: 8px 8px 10px rgb(0,0,0,0.2);
}
#sally {
    color: gray;
}
.testoimage {
    margin: 25px 0;
    text-align: left;
    border-left: 1px solid orange;
    padding-left: 20px;
}
.testoimage div {
    color: rgb(197, 54, 2);
}
.testoimage a:visited {
    color: #107777;
}
.ingredienti {
    margin: 25px 0;
    text-align: left;
}
.ingredienti li {
    margin-bottom: 20px;
}
footer {
    text-align: left;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
