/* IMPOSTAZIONI GENERALI */
body {
    margin: auto; 
    background-image: url(../img/sfondo.png);
    font-family: 'Poppins', sans-serif;
}
/* HEADER */
header {
    text-align: center;
    border-top: 50px solid #037089;
    border-bottom: 30px solid #037089;
    box-shadow: 3px 8px 8px rgba(0, 0, 0, 0.5);
    background-color: #037089;
}
/* MAIN */
main {
    margin: 20px;
    box-shadow: 5px 5px 20px 8px rgba(0, 0, 0, 0.308);
    background-color: white;
}
.titolo {
    margin: 20px;
}
#mario {
color: #949494;
}
.pencil {
    margin: 20px;
}
/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
